

    <table class="table table-bordered table-hover table-info">
        <tr>
            <td>Виконано</td>
            <td>Загалом</td>
        </tr>

        <tr>
            <td>@ViewBag.Done</td>
            <td>@ViewBag.Total</td>
        </tr>
    </table>