@model TaskInfo

<div class="task @(Model.Done ? "done": "")">

    <div class="task-icon">
        <i class="fa fa-check-circle fa-2x"></i>
        <i class="fa fa-circle fa-2x"></i>
    </div>
    <div class="task-name" data-id="@Model.Id">@Model.Name</div>
    <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger delete-task"> <i class="fa fa-trash"></i> </a>

</div>